@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Pretendard", system-ui, sans-serif;

  /** color **/
  --color-primary: #10b981;
  --color-primary-hover: #059669;
  --color-success: #2fbf7c;
  --color-warning: #f97316;
  --color-danger: #ef4444;
  --color-danger-hover: #fee2e2;

  --color-stack: #ef4444; /* 콜스택 메인 */
  --color-micro: #a855f7; /* 마이크로큐 메인 */
  --color-macro: #f97316; /* 매크로큐 메인 */

  --color-gray-50: #f9fafb; /* 전체 배경색 */
  --color-gray-100: #f2f4f6; /* 회색 백그라운드 */
  --color-gray-200: #e5e8eb; /* 구분선 */
  --color-gray-300: #d1d6db; /* 비활성화 요소 */
  --color-gray-400: #8b95a1; /* 흐린 가이드/설명 글자 */
  --color-gray-500: #4e5968; /* 본문 텍스트 */
  --color-gray-600: #333d4b; /* 타이틀 */
  --color-gray-700: #191f28; /* 메인 헤드라인 */
  --color-gray-900: #ffffff; /* 화이트 패널 */
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
