@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Pretendard", system-ui, sans-serif;

  /** color **/
  --color-primary: #10b981;
  --color-primary-hover: #059669;
  --color-success: #2fbf7c;
  --color-warning: #f97316;
  --color-danger: #ef4444;
  --color-danger-hover: #fee2e2;

  --color-stack: #ef4444;
  --color-micro: #3182f6;
  --color-macro: #8b5cf6;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f6;
  --color-gray-200: #e5e8eb;
  --color-gray-300: #d1d6db;
  --color-gray-400: #8b95a1;
  --color-gray-500: #4e5968;
  --color-gray-600: #333d4b;
  --color-gray-700: #191f28;
  --color-gray-900: #ffffff;
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
